@media (max-width: 768px) {
	/* common */
	.inner {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
	}
	/* header */
	header {
	}
    .banner{
        display: none;
    }
	.lnb {
		width: 100%;
		text-align: center;
	}
	nav {
		width: 100%;
		padding: 0 20px;
	}
	.gnb {
		flex-direction: column;
		background-color: #fff;
		position: fixed;
		top: 0;
		right: -270px;
		width: 250px;
		height: 100vh;
		text-align: right;
		padding: 100px 10px 0 0;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}
	.gnb.active {
		right: 0;
	}
	.gnb li a {
		color: #000;
		display: block;
		font-size: 18px;
		margin: 3px;
		padding: 5px;
	}
    /* trigger */
    .trigger{
        display: block;
        width: 30px;
        height: 16px;
        position: absolute;
        top: 45px;
        right: 20px;
        z-index: 100;
    }
    .trigger span{
        position: absolute;
        height: 1px;
        background-color: #fff;
        width: 100%;
        transition: .2s;
        background-color: #000;
    }
    .trigger span:nth-child(1){
        top: 0;
    }
    .trigger span:nth-child(2){
        top: 50%;
        opacity: 1;
    }
    .trigger span:nth-child(3){
        top: 100%;
    }

    .trigger.active span:nth-child(1){
        top: 50%;
        transform: rotate(-45deg);
    }
    .trigger.active span:nth-child(2){
        opacity: 0;
    }
    .trigger.active span:nth-child(3){
        top: 50%;
        transform: rotate(45deg);
    }
	/* intro */
	.intro .heading h1 {
		font-size: 40px;
	}
	.intro .heading p {
		font-size: 22px;
		padding: 0;
	}
	/* about */
	.about-content {
		flex-direction: column;
	}
	.about-content > div {
		padding: 10px;
	}
	.desc h2 {
		line-height: 1.2em;
	}
	/* ranking */
	.ranking-content h2 {
		text-align: center;
	}
	.ranking-content .items {
		flex-direction: column;
		gap: 30px;
	}
	.ranking-content .items .item {
		width: 100%;
		height: 650px;
		border-radius: 20px;
	}
	/* testimonial */
	.testimonial {
		padding: 70px 0;
	}
	/* callaction */
	.callaction-heading h2 {
		font-size: 36px;
	}
	/* blog section */
	.blog {
		padding: 50px 0;
	}
	.post-content {
		flex-direction: column;
	}
	.post-item {
		flex-direction: column;
	}
	.recent-post-items .post-item {
		height: fit-content;
	}
	.post-image {
		width: 100%;
		border-radius: 10px;
	}
	.shared-post-items {
		width: 100%;
	}
	.post-desc {
		padding: 0;
	}
	.post-desc h3 {
		padding-top: 20px;
	}
	.blog-header h2 {
		font-size: 36px;
	}
	.blog-header p {
		font-size: 22px;
	}
	/* festival section */
	.festival-heading h3 {
		font-size: 22px;
	}
	.btns a {
		margin: 5px;
		font-size: 16px;
		width: 100%;
		box-sizing: border-box;
		margin: 5px 0;
	}
	.myslider div {
		height: 600px;
	}
	/* footer */
	.footer-content {
		flex-direction: column;
		gap: 30px;
	}
}
